.btn {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s;
}

.btn.view {
    background-color: #00adb5;
    color: #000;
}

.btn.view:hover {
    background-color: #00ffff;
}

.btn.verify {
    background-color: #393e46;
    color: #eeeeee;
    border: 1px solid #00adb5;
}

.btn.verify:hover {
    background-color: #00adb5;
    color: #000;
}

.btn-send {
    background-color: #00adb5;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-center;
    transition: background 0.3s;
}

.btn-send:hover {
    background-color: #00ffff;
    color: #000;
}

.alert-success {
    color: #0f0;
    background: #003300;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.alert-error {
    color: #f55;
    background: #330000;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}